<h1>Genres</h1>

<table id='genre_listing'>
  <tr>

<% i = 0 %>
<% @genres.each do |genre| %>
<% 
  if i > 4 %>
</tr><tr>
<%
    i = 0
  end 
%>
    <td>
		<%= link_to image_tag("genres/" + genre.name + ".png", :alt => genre.name), genre, :title => genre.description %><br />
		<%= link_to genre.name, genre, :title => genre.description %>
	</td>
<% i += 1
end %>
  </tr>
</table>

<br />

<%= link_to 'New Genre', new_genre_path %>
