<table class='table table-striped table-bordered'>
  <thead>
    <tr>
      <th>Name</th>
      <th>Status</th>
      <th>Score</th>
      <th>Comment</th>
    </tr>
  </thead>
  <tbody>
    <% @list.list_entries.each do |list_entry| %>
    <tr>
      <td><%= link_to list_entry.show.name, list_entry.show %></td>
      <td></td>
      <td><%= list_entry.score %></td>
      <td><%= list_entry.comment %></td>
    </tr>
    <% end %>
  </tbody>
</table>