<tr>
  <td class="comment">
    <span class="author"><%= comment.user_id %></span>
    <span class="text"><%= comment.text %></span>
    <span class="timestamp">
      Posted at <%= comment.time %>.
    </span>
  </td>
</tr>

