<% this_user = User.find(comment.user_id) %>
<tr>
  <td class="comment">
    <p class="text"><%= comment.text %></p>
	<span class="author"><%= link_to this_user.username, this_user %></span>
    <span class="timestamp">
      Posted <%= time_ago_in_words(Time.at(comment.time)) %> ago.
    </span>
  </td>
</tr>

