body {
	background: #FFFFFF;
	margin: 0;
	font: 12pt / 16pt "Lucida Grande",Arial,Sans-serif;
	min-width: 640px;
}
h1,h2,h3,h4,h5 {
	margin: 0;
	padding: 0;
}

h5 {
	font-size:1.2em;
}
img {
	border: none;
}

header {
	display: 			block;
	height: 			150px;
	width:				100%;
	min-width: 			640px;
	background-color: 	#3EA055;
}

header img {
	padding: 0;
}

#header_inner {
	padding: 0 240px;
	min-width: 640px;
	height: 150px;
/*	margin: 0 auto;*/
}

#content {

}

section {
	display: block;
	padding: 0 120px 0 240px;
	min-width: 280px;;
/*  font-size: 120%;
	padding: 20px;
	background: #fff;
	margin: 0 auto;
	min-width: 640px;
*/
}

section h1 {
	font-size: 2em;
}


/* Links */

a {
	color: #09c;
	text-decoration: none;
}

a:hover {
	color: #069;
	text-decoration: none;
}

a:visited {
	color: #069;
}

/* Navigation */

nav {
	background-color: white;
	padding: 0;
	white-space: nowrap;
	float: right;
}

nav ul {
	margin: 0;
	padding: 0;
}

nav ul li {
	list-style-type: none;
	display: inline-block;
	padding: 0.2em 0;
}

nav ul li a {
	padding: 0 10px 0 0;
	font-weight: bold;
}

nav ul li a:visited {
	color: #09c;
}

nav ul li a:hover {
	text-decoration: underline;
}

.signin {
	font-size: 0.8em;
	margin-top: 10px;
}

.signin ul li a {
	padding: 0 5px;
}

#mainmenu {
	position: relative;
	min-width: 640px;
	margin: 0 auto;
}

#mainmenu_inner {
	padding: 0 240px;
	float: left;
	font-size: 1em;
}

div#mainmenu_inner ul li.current-page {
	  background-color: #F7F7FF;
}
div#mainmenu_inner ul li.current-page a {
	  font-weight: bold;
}

/* Sign up button */

a.signup_button {
	margin-left: auto;
	margin-right: auto;
	display: block;
	text-align: center;
	width: 190px;
	color: #fff;
	background: #006400;
	font-size: 150%;
	font-weight: bold;
	padding: 20px;
}

/* Round corners */

.round {
	-moz-border-radius:    10px;
	-webkit-border-radius: 10px;
	border-radius:         10px;
}
.round-left {
	-moz-border-radius-topleft: 5px;
	-moz-border-radius-bottomleft: 5px;
	-webkit-border-top-left-radius: 5px;
	-webkit-border-bottom-left-radius: 5px;
	border-top-left-radius: 5px 5px;
	border-bottom-left-radius: 5px 5px;
}

.round-right {
	-moz-border-radius-topright: 5px;
	-moz-border-radius-bottomright: 5px;
	-webkit-border-top-right-radius: 5px;
	-webkit-border-bottom-right-radius: 5px;
	border-top-right-radius: 5px 5px;
	border-bottom-right-radius: 5px 5px;
}

.logo {
	position: relative;
	border: none;
}

#logo_search {
padding-bottom: 25px;
margin: 0;
}

#home_search {
	margin: -50px 10px 0 0;
	float: right;
}

#searchform_q {
	position: relative;
	margin: 0;
}

#searchform_submit {
	position: relative;
	margin: 0;
}

/* Sidebar styling. */
div#sidebar {
	top: -10px;
	left: -10px;
	float: left;
	width: 200px;
	margin: 0 0 -10px 0;
	padding: 10px;
	z-index: 100;
	overflow: visible;
}
div#sidebar-tags {
	font-size: 0.9em;
}
div#sidebar li {
	list-style-type: none;
	margin: 0;
}
div#sidebar ul {
	margin: 10px 0px 0px 0px;
	padding: 0 10px;
}
a.tag-type-general, li.tag-type-general, li.tag-type-general a {
/*	font-size: 0.9em;*/
	color: #006FFA;
}
a.tag-type-studio, li.tag-type-studio, li.tag-type-studio a {
/*	font-size: 0.9em;*/
	color: #AA0000;
}
a.tag-type-va, li.tag-type-va, li.tag-type-va a {
/*	font-size: 0.9em;*/
	color: #00AA00;
}
span.shows-count {
	color: #AAA;
	margin-left: 5px;
}
span.list_tags {
	font-size: 0.9em;
}
a.delete-tagging {
	vertical-align: super;
	font-size: 0.5em;
}

div#ads {
	top: -10px;
	right: -10px;
	float: right;
	width: 100px;
	margin: 0 0 -10px 0;
	padding: 10px;
	z-index: 99;
}

/* Mainbody content styling. */

div.pagination {
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}
div.pagination a, div.pagination em, div.pagination span{
	border: 			1px solid #EAEAEA;
	padding: 			2px 6px;
	margin: 			0 3px;
	text-decoration:	none;
}
div.pagination a:hover {
	background:	rgb(60,60,220);
	color:		white;
}

table#show_list {
	width: 100%;
	border-collapse: collapse;
}

tr.show_list_entry td {
	margin:0;
	border: 0;
	padding-top: 10px;
	padding-bottom: 10px;
	border-bottom: 1px solid black;
}

td.show_list_animepic {
	width: 120px;
}

span.like_button , span.dislike_button{
	font-size: 7pt;
}

.list_show_title {
	font-size: 12pt;
	font-weight: bold;
	margin-top: 0px;
}

.list_show_descrip {
	font-size: 10pt;
	font-style: italic;
}

#show_infobox {
	margin: 0 10px;
	padding: 0;
	float: right;
	width: 430px;
	text-align: left;
}

#user_infobox  {
	margin: 0 10px;
	padding: 0;
	float: right;
	width: 550px;
	text-align: left;
}

.avatar, .show_image {
	min-height: 320px;
	max-height: 320px;
	min-width: 225px;
	max-width: 225px;
	overflow: hidden;
}

.avatar_thumb, .show_image_thumb {
	min-height: 142px;
	max-height: 142px;
	min-width: 100px;
	max-width: 100px;
	overflow: hidden;
}

p.text {
	font-size: 10pt;
	margin: 1px 0px;
}

.author, .timestamp {
	font-size: 8pt;
	margin: 0px 0px 0px 5px;
}

/* Tag page styling. */

table.highlightable {
	border-collapse:collapse;
	border-spacing:0;
	width: 100%;
}

table.highlightable > tbody > tr:hover {
	background:#FFD;
}

table.highlightable th {
	  color: #171BB3;
}
table.highlightable td {
	  border: 1px dotted #EEE;
	  margin: 0;
}
table.highlightable th {
	  margin: 0;
}
table td {
	  padding: 1px 4px;
	  vertical-align: top;
}
table td.large-text p {
	  font-size: 1em;
}
table th {
	  font-weight: bold;
	  text-align: left;
	  vertical-align: top;
	  padding: 0.2em 0.5em;
	  white-space: nowrap;
}

td.tagging {
	text-align: center;
}

/* Form styling. */

div.field, div.actions {
	margin-bottom: 10px;
}

.field_with_errors {
	margin-top: 10px;
	padding: 2px;
	background-color: red;
	display: table;
}

.field_with_errors label {
	color: #fff;
}

/* Footer styling. */

footer {
	clear: both;
	text-align: center;
	margin-top: 10px;
	width: 640px;
	margin-left: auto;
	margin-right: auto;
	font-size: 0.8em;
}

footer nav {
	float: none;
}
