<h1>About Us</h1>
<p>
  LL Animu Recommendations is a project to make 
  animu recommendations easy and painless for 
  people regardless of their animu history. 
  The idea for this site was originally founded 
  by Applekidjosh, and the website is maintained
  by shaldengeki.
</p>