<h1>About Us</h1>
<p>
  LL Animu Recommendations is a project to make animu recommendations easy and painless for people regardless of their animu history. 
  Part of the motivation for this was inspired by the seasonal anime charts that are fantastically-done by <%= link_to "ChartFag", "http://chartfag.wordpress.com/" %>, though he's since retired and moved on to bigger and better things.
  The idea for this site was originally conceived by Applekidjosh, who runs the site, and the website itself was created by shaldengeki.
</p>