<h1>Contact</h1>
<p>
  If you're having technical issues with the site, or you have technical improvements that you think could be made to the operation of the site, you can contact shaldengeki via PM on the LL boards.<br /><br />
  Inquiries or issues with decisions made on the site or the content of the site itself can be directed to Applekidjosh on the LL boards.
</p>