<h1>LL Animu Recommendations</h1>

<p>
  Welcome to LL Animu Recommendations! You can start your search for anime by clicking one of the menu links above, or typing in tags or title words from an anime you've heard of into the search box in the top right.
</p>