<div id = 'mainmenu'>
	<nav>
		<ul>
			<li><%= link_to "Series", "series" %></li>
			<li><%= link_to "Tags", "tags" %></li>
			<li><%= link_to "Comments", "comments" %></li>
		</ul>
	</nav>
</div>