                  <%= form_tag '/shows', :id => "home_search", :class=> 'form-search', :method => 'get' do %>
          <div class='input-append'>
            <%= text_field_tag :tags, params[:tags], :size => 8, :class => 'input-medium search-query', :id => 'searchform_q', :autocomplete => autocomplete_tag_name_tags_path, :"data-delimiter" => ' ' %>
            <%= button_tag "Search", :class => 'btn', :type => 'button', :id => 'searchform_submit' %>
          </div>
		  <% end %>